################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=develop-eggs 
versions = versions
[versions]
[part]
recipe = minitage.recipe:cmmi
url =  ftp://${mirrors:gentoo}/gentoo/distfiles/libxslt-1.1.22.tar.gz
md5sum = d6a9a020a76a3db17848d769d6c9c8a9
configure-options = --without-python
[mirrors]
gentoo=gentoo.imj.fr/pub
